<!DOCTYPE html>

<html>
    <link href="/static/css/employee_style.css" rel="stylesheet">    
    <style>
        body{ background-image: url('static/img/coffee_background.png');}
    </style>
    <nav>
        <a href="/">
            <button>Back to Menu</button>
        </a>  
    </nav>

    <title>Employees Only</title>

    <body>
        <section>
            <div class='orders'>
                <H3>Active Orders</H3>
                <p id='active-orders'></p>
                <p id='current-order'></p>
                <p id='display-order'></p>
                <button type='button' value='Send' name='completeOrder' onclick='completeOrder(document.getElementById("current-order").innerHTML)'>
                    Complete Order
                </button>
            </div>
        </section>
        <aside class='add-products'>
            <H3>Add a New Product</H3>
            <br>Name: <br>
            <input type='text' id='product-add-name' />
            <br>Price: <br>
            <input type='text' id='product-add-price' />
            <br>
            <button type='button' value='Send' name='addProduct' onclick='addProduct()'>
                Submit
            </button>
            <p id="product-added"> </p> 
        </aside>
        <div class='delete-products'>
            <H3>Delete Product from Menu</H3>
            <br>Name: <br>
            <input type='text' id='product-delete-name' />
            <button type='button' value='Send' name='deleteProduct' onclick='deleteProduct()'>
                Delete
            </button>
            <p id="product-deleted"> </p> 
        </div>
        <script>
        //Get Active orders and format into table w onrow click that can then request the order details
            function getActiveOrders(){
                xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        //document.getElementById("active-orders").innerHTML = this.responseText;
                        var orders = JSON.parse(this.responseText)
                        var table = "<table border='1' id='orders-table' >"
                        var i;
                        for (i=0; i < orders.length; i++) {
                            table += "<tr> <td> " + orders[i] + "</td> </tr>";
                        }
                        table += "</table>"
                        document.getElementById("active-orders").innerHTML = table;

                        onRowClick("orders-table", function (row) {
                            var name = row.getElementsByTagName("td")[0].innerHTML;
                            displayOrder(name);
                            console.log(name);
                        });
                    };
                };
                xmlhttp.open("GET", "/activeOrders", true);
                xmlhttp.setRequestHeader("Content-type", "application/json;charset=UTF-8");
                xmlhttp.send();
            };
            getActiveOrders();

            function displayOrder(customerName) {
                xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        //document.getElementById("active-orders").innerHTML = this.responseText;
                        var orders = JSON.parse(this.responseText)
                        var table = "<table border='1' id='orders-table' >"
                        var i;
                        myObj = JSON.parse(xmlhttp.responseText);

                    var table = "<table border='1' id='menu-table' >"
                    for (x in myObj) {
                        table += "<tr> <td> " + myObj[x].ProductName + "</td> <td>" + myObj[x].Price + "</td> </tr>";
                    }
                    table += "</table>"
                    document.getElementById("display-order").innerHTML = table;
                    };
                    document.getElementById("current-order").innerHTML = customerName+"'s order:";
                };
                console.log('customer name: ' + customerName);
                orderName = {
                    name: customerName
                }
                xmlhttp.open("POST", "/displayOrder", true);
                xmlhttp.setRequestHeader("Content-type", "application/json;charset=UTF-8");
                xmlhttp.send(JSON.stringify(orderName));
            };

        function completeOrder(orderName){
            var customerName = orderName.split("'")[0];
            order = {
                name: customerName
            }
            console.log(customerName);
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log("LOOK HERE: ", this.responseText);
                };
            };
            xmlhttp.open("POST", "/completeOrder", true);
            xmlhttp.setRequestHeader("Content-type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify(order));
            getActiveOrders();
            document.getElementById("display-order").innerHTML = null;
            document.getElementById("current-order").innerHTML = null;
        };


        function addProduct(req, res){
            var product = {
                name: document.getElementById('product-add-name').value,
                price: document.getElementById('product-add-price').value
            };
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("product-added").innerHTML = this.responseText;
                };
            };
            xmlhttp.open("POST", "/addProduct", true);
            xmlhttp.setRequestHeader("Content-type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify(product));
        };

        function deleteProduct(req, res){
            var product = {
                name: document.getElementById('product-delete-name').value,
            };
            console.log(document.getElementById('product-delete-name').value);
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("product-deleted").innerHTML = this.responseText;
                };
            };
            xmlhttp.open("POST", "/deleteProduct", true);
            xmlhttp.setRequestHeader("Content-type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify(product));
        };

        function onRowClick(tableId, callback) {
            var table = document.getElementById(tableId),
                rows = table.getElementsByTagName("tr"),
                i;
            for (i = 0; i < rows.length; i++) {
                table.rows[i].onclick = function (row) {
                    return function () {
                        callback(row);
                    };
                }(table.rows[i]);
            }
        };

        </script>

    </body>
</html>